body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #4CAF50;
    text-align: center;
}

.restaurant {
    margin-bottom: 20px;
}

.restaurant h2 {
    font-size: 1.5em;
    color: #333;
}

.restaurant ul {
    list-style-type: none;
    padding-left: 0;
}

.restaurant li {
    margin: 10px 0
